.contact h2{
        text-align: center;
        font-size: 200%;
        color:#593202
    }


.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .submit{
   
    
    border:solid #a1c116 5px;
    border-radius: 5%;
    
    background: #a1c116; 
    color: #593202;
    font-weight: bold;
  }