.contact h2{
        text-align: center;
        font-size: 200%;
        color:#593202
    }


.form {
    margin-top:5%;
    margin-left: 25%;
    width: 50%;
    align-content: center;
    margin-bottom:5%
  }
  
  .form input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
  }
  .form textarea{
    display: block;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
  }

  .submit{
    margin-top: 1%;
    margin-left:90%;
    border:solid #a1c116 5px;
    border-radius: 5%;
    
    background: #a1c116; 
    color: #593202;
    font-weight: bold;
  }