.contact h2{
        text-align: center;
        font-size: 200%;
        color:#593202
    }


.form {
    margin-top:5%;
    margin-left: 25%;
    width: 50%;
    align-content: center;
    margin-bottom:5%
  }
  
  .form input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
  }
  .form textarea{
    display: block;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
  }

  .submit{
    margin-top: 1%;
    margin-left:90%;
    border:solid #a1c116 5px;
    border-radius: 5%;
    
    background: #a1c116; 
    color: #593202;
    font-weight: bold;
  }

  input[type="text"],
input[type="email"],
textarea {
  /* Add styles to the input and textarea elements */
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  /* Add styles for focused input and textarea */
  border-color: #a8a8a8;
  box-shadow: 0 0 3px #a8a8a8;
}

.error-text {
    /* Add styles for error messages */
    color: red;
    margin-left: 1.9rem;
    margin-top: -1rem
  }