
.portfolio  h2{
    font-family: var(--font-h2);
    text-align: center;
    font-size: 200%;
    color:#593202
}
.all-apps{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: auto;
     width: 80%;
}

.first-app{
    flex: 2 1 0;
    height: auto;
    border-radius: 4%;
    width: 33%;
}
.first-app h4{
    margin-top: -25%;
    margin-right: -500%
}

.portfolio a:hover {
    font-style: italic;
   }

   .portfolio a{
    color: #a1c116;
    font-family:var(--font-button) ;
    text-decoration: none;
    
   }

   .app {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    height: auto;

}

.app img{
    flex: 1 1 0;
    max-width:98% ; 
    height: auto; 
    border-radius: 10%; 
    padding: 5px;
    margin-bottom: -8%;
    /* margin-left: 1% */
}

.side{
    width: 50%;

}
.side img{
    width: 93%;
}

.side h4{
    margin-top: -5%;
    margin-bottom: -0.01%
}
/* sets width of the app section with class other */
.other{
    width: 50%;
}
.other img{
    width: 93%;
} 

.other h4{
    margin-top: -5%;
    margin-bottom: -0.1%
}